.background {
  background-image: linear-gradient(rgba(12, 3, 51, 0.4), rgba(12, 3, 51, 0.4)),
    url("https://www.dropbox.com/s/9w97cvxgf9t8xqh/Background_%20%283%29.jpg?raw=1");
  background-size: cover;
  width: 100%;
  height: auto;
}
