.DayForecast {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
}

.DayForecast .day {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px 10px;
}

.DayForecast .day img {
  display: block;
  margin: 0 auto;
}

.DayForecast .small_icon {
  width: 70px;
  height: auto;
}

.DayForecast span {
  padding-left: 4px;
}

@media (max-width: 992px) {
  .DayForecast .small_icon {
    width: 115px;
    height: auto;
  }
}
