.PartDayForecast {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 100px;
}

.part {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  text-transform: capitalize;
}
