.SearchPanel {
  padding-bottom: 20px;
}

.SearchPanel .textarea {
  width: 100%;
  height: 40px;
  position: relative;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  display: inline-block;
}

.SearchPanel button {
  height: 40px;
  width: 120px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  background-color: white;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.SearchPanel button:hover {
  background-color: rgba(11, 2, 49, 0.568);
  color: white;
}

@media (max-width: 992px) {
  .SearchPanel .center-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 40px;
  }

  .SearchPanel .right-margin {
    margin-right: 10px;
  }
}
