.Section1 {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .Section1 {
    margin: 0;
  }
}
