.Titles .title_0 {
  font-size: 36px;
  font-weight: 400;
  margin-top: -5px;
  margin-bottom: -3px;
}

.Titles .title_1 {
  font-size: 26px;
  font-weight: 300;
}

.Titles .title_2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: -3px;
  margin-bottom: -5px;
}

@media (max-width: 992px) {
  .Titles {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
